@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        // screens less than 1320 pixel
        @media only screen and (max-width: 1320px) {
            @content;
        }
    }
}

@mixin flexbox($flex: flex, $justifyContent: space-between, $alignItems: center) {
    display: $flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
