@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
    font-family: "Helvetica Neue Regular";
    src: url(../fonts/HelveticaNeueBold.woff) format("woff");
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}