$color-primary: rgb(0, 0, 0);
$color-primary-hover: rgb(128, 124, 124);
$color-gray: rgb(115, 115, 115);
$color-secondary: rgb(255, 255, 255);
$color-berj:rgb(250, 247, 240);
$color-red:firebrick;
$color-brown:#B4876E;