.company-left {

    padding-left: 0;
    top: 30%;
    left: 0;

    .sidebar-company {

        .sidebar-items {
            padding-bottom: 3rem;

            .sidebar-item {
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                box-shadow: 0 10px 8px 10px #cacaca;

                li {
                    margin-top: 1rem;
                    margin-bottom: 21px;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 18px;
                    font-weight: 300;

                    a {
                        position: relative;

                        &:hover {
                            outline: 0;
                            transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -3px;
                                width: 0;
                                height: 1px;
                                background: $color-gray;
                                transition: width .2s ease-in-out;
                                transform: translate3d(0, 0, 0);
                                width: 100%;
                            }
                        }
                    }
                }

            }

        }


    }

    @media screen and (max-width:992px) {
        display: none;
    }
}

#info {
    .company-info {
        padding-top: 6rem;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width:576px) {
        display: none;
    }
}


#favory {
    .favory-title {
        @include flexbox;

        .time {
            @include flexbox;

            li {
                text-align: center;
                padding: 10px 20px;
                background-color: #f0f1f2;
                font-size: 10px;
                color: #282828;
                position: relative;
                border-right: 1px solid $color-secondary;

                p {
                    font-size: 14px;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .favory-item {
        padding-top: 2rem;

        .card-image {
            position: relative;

            .hover-contents-company {
                transition: opacity 0.25s ease, filter 0.25s ease;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1%;
                opacity: 1;
                width: max-content;

                .company-date {
                    color: $color-red;
                    font-size: 2rem;
                    padding-left: 2rem;
                    font-weight: bold;

                    .countdown {
                        display: flex;

                        span {
                            padding-right: 0.5rem;
                        }
                    }
                }


            }

            &:hover .hover-btns {
                opacity: 1;
                visibility: visible;
                transition: .5s;
                transform: translateX(-50%);
            }

            img {
                width: auto;
                max-width: 100%;
                transition: opacity 0.25s ease, filter 0.25s ease;
            }

            .img-product {
                position: relative;

                .img-responsive {
                    opacity: 1;

                    &:hover {
                        opacity: 0;
                    }
                }

                .img-responsive-hov {
                    transition: opacity 0.25s ease, filter 0.25s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }


            .hover-btns {
                position: absolute;
                top: 60%;
                left: 80%;
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: all .3s linear;


                .single-btn {
                    cursor: pointer;
                    font-size: 2rem;
                    width: 46px;
                    height: 46px;
                    line-height: 29px;
                    background-color: $color-secondary;
                    border-radius: 50%;
                    text-align: center;
                    display: block;
                    margin-bottom: 13px;
                    transition: .5s;
                    padding: 10px;

                    &:hover {
                        color: $color-brown;
                    }

                }

            }

        }
    }


}


#dropdown {
    display: none;

    @media screen and (max-width:992px) {
        display: block;
    }

    .company-category {

        .company-category-head {
            @include flexbox;

            h5 {
                font-size: 3rem;
            }

            img {
                width: 15px;
                height: 15px;
            }
        }

        ul {
            li {
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 200;
            }
        }
    }
}