.left-side {

    padding-left: 3rem;
    top: 30%;
    left: 0;

    .sidebar-company {


        .sidebar-item {
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            box-shadow: 10px 10px 8px 10px #cacaca;

            li {
                margin-top: 1rem;
                margin-bottom: 21px;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 18px;
                font-weight: 300;

                a {
                    position: relative;

                    &:hover {
                        outline: 0;
                        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            width: 0;
                            height: 1px;
                            background: $color-gray;
                            transition: width .2s ease-in-out;
                            transform: translate3d(0, 0, 0);
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

    @media screen and (max-width:992px) {
        display: none;
    }
}

#info {
    .company-info {
        padding-top: 6rem;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width:576px) {
        display: none;
    }
}


#favory {
    .favory-item {
        padding-top: 2rem;

        .card-image {
            position: relative;

            img {
                width: 100%;
                transition: opacity 0.25s ease, filter 0.25s ease;

            }

            .hover-contents-company {
                transition: opacity 0.25s ease, filter 0.25s ease;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1%;
                opacity: 1;

                .company-date {
                    color: $color-secondary;
                    font-size: 2rem;
                    padding-left: 2rem;
                    font-weight: bold;

                    .countdown {
                        display: flex;

                        span {
                            padding-right: 0.5rem;
                        }
                    }
                }

                .hover-btns {
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    pointer-events: none;
                    font-size: 8px;
                    line-height: 10px;
                    padding: 10px 20px 8px;
                    text-transform: uppercase;
                    border-radius: 30px;
                    letter-spacing: 1px;
                    white-space: nowrap;

                    .single-btn {
                        font-size: 2rem;
                        width: 46px;
                        height: 46px;
                        line-height: 29px;
                        background-color: $color-secondary;
                        border-radius: 50%;
                        text-align: center;
                        display: block;
                        margin-bottom: 13px;
                        transition: .5s;
                        padding: 10px;
                    }

                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#dropdown {
    display: none;

    @media screen and (max-width:992px) {
        display: block;
    }

    .company-category {

        .company-category-head {
            @include flexbox;

            h5 {
                font-size: 3rem;
            }

            img {
                width: 15px;
                height: 15px;
            }
        }

        ul {
            li {
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 200;
            }
        }
    }
}