#contact {
    .contact-info {
        position: relative;
        img {
            height: 250px;
            width: 100%;
        }

        h1 {
            position: absolute;
            top: 47%;
            right: 39%;
            font-size: 42px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            @media screen and (max-width:768px) {
               display:none;

            }
        }
        @media screen and (max-width:576px) {
            display:none;

         }
    }
    .contact-body-info{
        margin:40px 0;
        font-size:18px;
        p{
            margin-bottom:20px
        }
    }
    .col-md-4{
        margin-bottom:40px;
    }
    .contact-content{
        padding: 32px;
        background-color: rgb(250, 250, 250);
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        
        i{
            font-size:35px;
            margin-bottom:20px;
        }
        h5{
            font-size:20px;
            margin-bottom:15px;
        }
        p{
            font-size:18px;
            font-weight:400;
            margin-bottom:20px;
        }
        span{
            font-size:14px;
            border-bottom:1px solid black;
        }
    }
}