#detail-home {
    .detail-right {
        width: 65%;
        float: right;

        @media screen and (max-width:992px) {
            width: 100%;

        }

        img {
            width: 100%;
            padding-bottom: 2rem;
        }


    }


    .detail-color {
        margin-top: 5px;

        p {
            font-weight: 300;
            font-size: 14px;
            cursor: pointer;
            line-height: 1.5;
            padding: 1rem 0px;
        }

        .color-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;


            .tab-color-detail {
                cursor: pointer;

                img {
                    margin: 5px 5px 0 0;
                    display: inline-block;
                    padding: 3px;
                    cursor: pointer;
                    border-radius: 50px;
                    border-width: 1px;
                    border-style: solid;
                    line-height: 1;
                    border-width: 1px;
                    height: 3rem;
                    width: 3rem;
                    border-color: #c1c1c1;

                    &:active {
                        border: 2px solid $color-red !important;
                    }
                }

            }

            .tab-color.active {
                background-color: transparent;

            }
        }

    }

    .content-detail-colors {
        position: relative;

        .content-detail-color {
            display: none;
            position: relative;
            width: 100%;


        }

        .content-detail-color.active {
            display: block;
        }
    }

    .detail-left {
        width: 35%;
        float: left;
        padding-top: 3rem;
        display: flex;
        justify-content: center;

        @media screen and (max-width:992px) {
            width: 100%;

        }

        h1 {
            padding-left: 4px;
            font-weight: 400;
            margin: 0px 0px 0.25em;
            letter-spacing: 0.01em;
            font-size: 2.5rem;

        }

        .detail-wish {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                font-size: 2rem;
            }

            .star {
                display: flex;
                margin: 8px 0px;
                min-height: 18px;

                p {
                    font-size: 14px;
                    margin: 0px 8px;

                }

                span {
                    text-decoration: underline rgb(91, 91, 91);
                    color: rgb(91, 91, 91);
                    font-size: 14px;
                    font-weight: 400;

                }
            }



            .stock {
                background-color: rgb(250, 247, 240);
                display: flex;
                align-items: center;
                width: 100%;
                padding: 12px 20px;
                margin: 2rem;

                p {
                    padding-left: 1rem;
                    line-height: 18px;
                    color: rgb(0, 0, 0);
                    font-size: 13px;
                    font-weight: 400;
                }


            }

            .stock-btn {
                width: 100%;
                padding: 16px;
                min-width: 64px;
                background-color: $color-primary;
                color: $color-secondary;

                &:hover {
                    background-color: #737373;
                }
            }

            .shipping {
                padding: 3rem 0;
                width: 100%;

                .shipping-info {
                    padding: 2rem 0;

                    border-top: 1px solid rgb(218, 218, 218);
                    border-bottom: 1px solid rgb(218, 218, 218);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 3rem;
                        padding-right: 2rem;
                    }

                    p {
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left;
                    }
                }
            }

            .detail-info {
                margin-top: 22px;
                padding: 3rem;
                background: rgb(250, 250, 250);
                display: flex;
                width: 100%;
                text-transform: uppercase;
                justify-content: space-between;
                font-size: 1.5rem;
                font-weight: 500;

                span {
                    letter-spacing: 0.86px;
                    line-height: 18px;
                }

                p {
                    border-left: 1px solid rgb(218, 218, 218);
                    padding: 0px 15px;
                    letter-spacing: 1px;
                    line-height: 24px;
                }
            }

            .detail-description {
                margin: 22px 0px 0px;

                .description {
                    padding: 3rem 0;

                    .description-title {
                        border-top: 1px solid rgb(218, 218, 218);
                        border-bottom: 1px solid rgb(218, 218, 218);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.86px;
                        padding: 14px;
                        position: relative;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;

                        h2 {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: 0.86px;
                            line-height: 1.5;
                        }
                    }

                    .description-body {
                        padding-left: 8px;
                        padding-right: 0;
                        line-height: 1.5;
                        padding: 12px 10px 12px 16px;
                        font-weight: 300;
                        font-size: 15px;

                        p {
                            padding-bottom: 2rem;
                        }
                    }
                }

            }
        }
    }
}

#review {
    .review-up {
        .review-title {
            text-align: center;
            margin: 40px 0px;

            h1 {
                font-size: 24px;
                font-weight: 600;
            }
        }

        .review-up-body {
            padding: 25px 0 22px;
            margin: 0 10px;
            border-top: 1px solid #e3e3e3;

            @media screen and (max-width:576px) {
                margin: 0;

            }

            .review-up-left {
                text-align: left;
                position: relative;



                .review-star {
                    @include flexbox;

                    i {
                        font-size: 2rem;
                        color: $color-brown;

                        @media screen and (max-width:576px) {
                            font-size: 1rem;
                        }
                    }

                    span {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                .questions {
                    margin: 8px;
                    font-size: 15px;

                    a {
                        color: $color-brown;

                        &:hover {
                            color: #000000 !important;
                        }

                    }
                }
            }

            .review-up-right {
                @include flexbox;
                border-left: 1px solid #e3e3e3;
                padding-left: 1rem;

                .review-up-right-star {
                    color: $color-brown;
                    font-size: 1.5rem;

                    @media screen and (max-width:576px) {
                        font-size: 1rem;
                    }

                    span {
                        padding-left: 1rem;
                    }
                }

                a {
                    @media screen and (max-width:576px) {
                        min-width: max-content;
                        font-size: 1rem;
                        padding: 1rem 2rem;
                    }

                }
            }
        }

        .review-down-body {
            .review-items {
                padding: 3rem 0 2rem 0;
                border-bottom: 1px solid #e3e3e3;
            }

            .review-item {
                .tab-review {
                    cursor: pointer;
                    float: left;
                    margin: 0px 18px 4px 0px;
                    font-weight: 100;
                    color: #6B6D76;
                }

            }

            .tab-review.active {
                color: $color-brown;
                border-bottom: 3px solid;
                border-color: $color-brown;

            }
        }

        .container.reviewes {
            padding-bottom: 4rem;

            .row {

                .content-reviewes {
                    position: relative;

                    .content-review {
                        display: none;
                        position: relative;
                        width: 100%;
                        margin: 0 10px;
                        border-top: 1px solid #e3e3e3;

                        .content-review-body {
                            padding: 25px 0 22px;
                            border-bottom: 1px solid #e3e3e3;

                            .name-date {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 12px;

                                .name {
                                    color: $color-brown;
                                }

                                .date {
                                    color: #6A6C77;
                                }
                            }

                            .content-stars {
                                font-size: 1.5rem;
                                color: $color-brown;
                                padding: 2rem 0;
                            }

                            p {
                                font-size: 1.5rem;
                            }
                        }

                        .content-question-body {
                            padding: 25px 0 22px;
                            border-bottom: 1px solid #e3e3e3;

                            .question {
                                .question-user-name-date {
                                    @include flexbox;

                                    .question-user-name {
                                        color: $color-brown;
                                        font-size: 12px;
                                    }

                                    .question-user-date {
                                        color: #6A6C77;
                                        font-size: 12px;
                                    }
                                }

                                p {
                                    padding: 1rem 0;
                                    font-size: 1.4rem;
                                    color: #6A6C77;
                                }
                            }

                            .answer {
                                margin-left: 22px;
                                padding: 25px 0;
                                border-left: 2px solid $color-brown;

                                .answer-admin-name-date {
                                    @include flexbox;
                                    padding-left: 1rem;
                                    padding-bottom: 1rem;

                                    .answer-admin-name {
                                        color: $color-brown;
                                        font-size: 12px;
                                    }

                                    .answer-admin-date {
                                        color: #6A6C77;
                                        font-size: 12px;
                                    }
                                }

                                p {
                                    padding-left: 1rem;
                                    font-size: 14px;
                                    color: #6A6C77;

                                }
                            }
                        }

                    }

                    .content-review.active {
                        display: block;
                    }
                }
            }
        }

    }
}

#same-category {
    h2 {
        font-size: 21px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 21px;
        margin-top: 100px !important;
        margin-bottom: 55px !important;
    }

    img {
        width: 100%;
    }
}