#profile {
    .profile-left {
        position: sticky;

        @media screen and (max-width:992px) {
            display: none;
        }

        .sidebar {
            padding-top: 3rem;

            .sidebar-item:not(:last-child) {}

            .sidebar-item {
                background-color: #fafafa;
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;

                li {
                    text-transform: uppercase;
                    border: none;
                    font-size: 1.3rem;
                    line-height: normal;
                    letter-spacing: 1.5px;
                    padding: 7.5px 10px;
                    padding-bottom: 1.2rem;
                    text-align: center;
                    background-color: #fafafa;
                    cursor: pointer;
                }

            }
        }


    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        margin: 6rem 0;
        display: flex;
        padding-left: 10rem;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-left: 10rem;

        @media screen and (max-width:576px) {
            padding-left: 1rem;

        }

        .form-info {
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
            font-size: 1.5rem;

            label {
                padding-right: 3rem;
            }

            input {
                border: 1px solid $color-primary-hover;
                padding: 1rem 2rem;
            }
        }

        button {
            font-size: 1rem;
            max-width: max-content;

            &:hover {
                color: #545454 !important;
                border-color: #acacac;
                background-color: #fff;
                outline: none;
            }
        }
    }


}