main {
    #info {
        .info {
            position: relative;
            @include flexbox(flex, center, center);

            .info-img {
                img {
                    width: 100%;

                }
            }

            .info-text {
                position: absolute;

                p {
                    color: $color-secondary;
                    font-size: 4rem;
                    line-height: 6rem;
                    margin-bottom: 3rem;
                    letter-spacing: 2px;
                    width: 30rem;
                    font-weight: 700;

                    @media screen and (max-width:576px) {
                        margin-bottom: 1rem;
                        font-weight: 600;
                        line-height: 3rem;
                        font-size: 2.5rem;

                    }
                }

            }

        }

    }

    #category {
        .category-info {
            @include flexbox;
            padding: 3rem 0;

            h2 {
                font-weight: 500;
                line-height: 1.1;
                font-size: 3.2rem;
            }

            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 1.6rem;
                text-decoration: underline;
                color: $color-gray;
            }

        }

        .category-item {
            img {
                opacity: 1;
                transition: opacity 200ms ease-out 0s;
                width: 100%;
                padding-right: 1.8rem;
                height: 100%;
                object-fit: cover;
                object-position: center center;

                &:hover {
                    opacity: 0.7;
                }
            }

            p {
                padding: 2rem 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.1;
            }
        }

        .slick-next {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    #company {
        .company-info {
            @include flexbox;
            padding: 3rem 0;

            @media screen and (max-width:576px) {
                padding: 2rem;
            }

            h2 {
                font-weight: 500;
                line-height: 1.1;
                font-size: 3.2rem;
            }

            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 1.6rem;
                text-decoration: underline;
                color: $color-gray;
            }

        }

        .company-item {
            @include flexbox(flex, center, center);
            padding: 1rem 0;

            @media screen and (max-width:320px) {
                padding: 0;
            }

            img {
                opacity: 1;
                transition: opacity 200ms ease-out 0s;
                width: 100%;
                padding-right: 1.8rem;
                object-fit: cover;
                object-position: center center;

                &:hover {
                    opacity: 0.7;
                }

                @media screen and (max-width:768px) {
                    padding-right: 0;

                }
            }

            h3 {
                padding: 2rem 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.1;
            }

            @media screen and (max-width:768px) {
                flex-wrap: wrap;
            }
        }

        .company-up {
            @media screen and (max-width:576px) {
                padding: 0 2rem;
            }
        }

        @media screen and (max-width:768px) {
            .company-up .company-up-item:not(:first-child) {
                display: none;
            }
        }
    }

    #edit {
        .edit-info {
            @include flexbox;
            padding: 3rem 0;

            h2 {
                font-weight: 500;
                line-height: 1.1;
                font-size: 3.2rem;
            }

            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 1.6rem;
                text-decoration: underline;
                color: $color-gray;
            }
        }

        .edit-item {
            img {
                opacity: 1;
                transition: opacity 200ms ease-out 0s;
                width: 100%;
                padding-right: 1.8rem;
                height: 100%;
                object-fit: cover;
                object-position: center center;

                &:hover {
                    opacity: 0.7;
                }
            }

            p {
                padding: 2rem 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.1;
            }
        }

        .slick-next {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    #new {
        .new-items {
            @include flexbox(flex, center, flex-end);

            .new-item {
                position: relative;
                @include flexbox(flex, center, center);

                img {
                    width: 100%;
                }

                .new-info {
                    position: absolute;
                    margin-left: 50%;

                    h4 {
                        font-size: 1.4rem;
                        color: $color-secondary;
                        font-weight: 400;
                        margin-bottom: 15px;
                        letter-spacing: 1px;
                        line-height: 1.1;
                    }

                    p {
                        font-size: 3.2rem;
                        font-weight: 500;
                        color: rgb(255, 255, 255);
                        line-height: 40px;
                        margin-bottom: 30px;
                    }

                    @media screen and (max-width:576px) {
                        margin: 0;
                    }
                }
            }

            .slick-dots {
                position: absolute;
                display: flex;
                justify-content: center;
                list-style: none;
                margin: 0;
                padding-bottom: 2rem;

                li {
                    margin: 0 4px;

                    button {
                        cursor: pointer;
                        height: 3px;
                        width: 35px;
                        overflow: hidden;
                        border-radius: 2px;
                        font-size: 0px;
                        border: none;
                        outline: none;
                        opacity: 0.75;
                    }

                    &.slick-active {
                        button {
                            opacity: 1;
                            border: none;

                        }
                    }
                }

                @media screen and (max-width:420px) {
                    padding-bottom: 0;

                }
            }
        }
    }

    #location {
        .location-left {
            background-color: $color-berj;
            padding: 0;
            @include flexbox(flex, center, center);

            .location-info {
                color: $color-primary;

                h3 {
                    font-weight: 500;
                    margin-bottom: 20px;
                    font-size: 4rem;

                    @media screen and (max-width:768px) {
                        font-size: 3rem;


                    }
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 300;
                    margin-bottom: 30px;
                }
            }

            @media screen and (max-width:768px) {
                padding: 3rem 0;
            }

            @media screen and (max-width:576px) {
                padding: 3rem;
            }
        }

        .location-right {
            padding: 0;

            @media screen and (max-width:768px) {
                display: none;

            }
        }

        img {
            width: 100%;
        }
    }

    #brand {
        padding: 10rem 0;

        .brand-items {
            @include flexbox(flex, center, center);

            @media screen and (max-width:768px) {
                .brand-item:nth-last-child(-n+2) {
                    display: none;
                }
            }
        }

        .brand-item {
            .tab-brand {
                opacity: 0.3;
                cursor: pointer;

                img {
                    margin-right: 1.4rem;
                    border-radius: 0;
                }

            }

            .tab-brand.active {
                background-color: transparent;
                opacity: 1;

            }
        }

        .container.brands {
            @include flexbox(flex, center, center);
            padding-bottom: 4rem;

            .row {
                text-align: center;

                .content-brands {
                    position: relative;

                    .content-brand {
                        display: none;
                        position: relative;
                        width: 100%;

                        .text-brand {
                            margin-bottom: 16px;
                            color: #0f0d1e;
                            font-size: 24px;
                            line-height: 170%;
                            font-weight: 300;
                            text-align: center;
                        }
                    }

                    .content-brand.active {
                        display: block;
                    }
                }
            }
        }

        @media screen and (max-width:768px) {
            padding: 5rem 0;
        }
    }
}