#profile {
    aside {
        position: sticky;

        @media screen and (max-width:992px) {
            display: none;
        }

        .sidebar {
            padding-top: 3rem;

            .sidebar-item:not(:last-child) {}

            .sidebar-item {
                background-color: #fafafa;
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;

                li {
                    text-transform: uppercase;
                    border: none;
                    font-size: 1.3rem;
                    line-height: normal;
                    letter-spacing: 1.5px;
                    padding: 7.5px 10px;
                    padding-bottom: 1.2rem;
                    text-align: center;
                    background-color: #fafafa;
                    cursor: pointer;
                }

            }
        }


    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        margin: 6rem 0;
        text-align: center;
    }

    .profile-info {
        font-size: 1.5rem;
        padding-left: 10rem;

        @media screen and (max-width:576px) {
            padding-left: 2rem;

        }

        .user-profile-data {
            display: flex;
            align-items: center;

            span {
                margin-left: 2rem;
            }
        }

        a {
            font-size: 1rem;
            min-width: max-content;

            &:hover {
                color: #545454 !important;
                border-color: #acacac;
                background-color: #fff;
            }
        }
    }

    .user-profile-data {
        margin-bottom: 3rem;
    }
}