body {
    overflow-x: hidden;

}


aside {
    position: sticky;
    padding-left: 3rem;
    top: 30%;
    left: 0;

    .sidebar {

        .sidebar-item {
            padding-top: 1rem;

            li {
                display: block;
                margin-bottom: 8px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 18px;
                font-weight: 300;
            }

        }
    }
}

#shop-text {
    .shop-texts {
        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: 500;
            line-height: 1.1;
            font-size: 3.2rem;
        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 150px;
                padding: 8px 0;
                border-bottom: 1px solid #000000;
                cursor: pointer;
                margin: 0 2rem;

                h3 {
                    text-transform: uppercase;
                    letter-spacing: 0.85px;
                    font-size: 12px;
                }

                i {
                    font-size: 18px;
                }
            }
        }


    }

    @media screen and (max-width:768px) {
        display: none;
    }
}

#filter {
    display: none;

    .filter {
        padding: 48px 40px 30px;
        background: #fafafa;
        margin-top: 20px;
        overflow: auto;


        .filter-item {
            h2 {
                margin: 0 0 20px;
                font-size: 1.5rem;
                letter-spacing: 0.85px;
                font-weight: 500;
                line-height: 1.1;
            }
        }

        .form-checkbox-column {
            .label-container {
                text-transform: uppercase;
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                line-height: 18px;
                font-weight: 300;
                user-select: none;


                input {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;

                    &:checked~.checkmark {
                        background: #000;
                    }
                }

                .checkmark {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    background: #fff;
                    border: 1px solid black;


                    &::after {
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: 8px;
                        background: #fff;
                        width: 2px;
                        height: 2px;
                        transform: rotate(28deg);
                        box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
                    }
                }
            }
        }

        .filter-end {
            align-self: flex-end;

            .filter-button {
                @include flexbox();

                p {
                    margin: 0;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-decoration: underline;
                    cursor: pointer;
                }

                button {
                    font-size: 14px;
                    background-color: #000;
                    color: $color-secondary;

                    &:hover {
                        background-color: $color-secondary;
                        color: #000;
                        border: 1px solid #000;
                    }
                }
            }
        }


    }
}


#favory {
    .favory-title {
        display: inline-block;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "brandon_grotesquemedium", Arial, sans-serif;
        letter-spacing: 1px;
        z-index: 1;
        font-weight: 500;
        line-height: 1.1;
        margin: 4rem 0;

        h2 {
            padding: 0 30px 0 16px;

        }


    }

    .favory-item {
        padding-top: 2rem;
        position: relative;


        .card-image {
            position: relative;

            &:hover .hover-btns {
                opacity: 1;
                visibility: visible;
                transition: .5s;
                transform: translateX(-50%);
            }

            img {
                width: auto;
                max-width: 100%;
                transition: opacity 0.25s ease, filter 0.25s ease;
            }

            .img-product {
                position: relative;

                .img-responsive {
                    opacity: 1;

                    &:hover {
                        opacity: 0;
                    }
                }

                .img-responsive-hov {
                    transition: opacity 0.25s ease, filter 0.25s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }


            .hover-btns {
                position: absolute;
                top: 60%;
                left: 80%;
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: all .3s linear;


                .single-btn {
                    cursor: pointer;
                    font-size: 2rem;
                    width: 46px;
                    height: 46px;
                    line-height: 29px;
                    background-color: $color-secondary;
                    border-radius: 50%;
                    text-align: center;
                    display: block;
                    margin-bottom: 13px;
                    transition: .5s;
                    padding: 10px;

                    i {
                        &:hover {
                            color: $color-brown;
                        }
                    }

                }

            }

        }
    }

    .fav-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        p {
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 1;
            color: $color-primary-hover;
        }
    }

    .fav-color {
        .color-item {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin: 5px 5px 0 0;
                display: inline-block;
                font-weight: 300;
                padding: 3px;
                cursor: pointer;
                border-radius: 50px;
                border-width: 1px;
                border-style: solid;
                line-height: 1;
                border-color: #adadad !important;
                width: 10%;

                &:active {
                    border: 2px solid $color-red !important;
                }
            }

            p {
                font-size: 12px;
                margin-top: 5px;
                line-height: 18px;
                color: $color-primary-hover;
            }
        }
    }
}