body {
    overflow-x: hidden;

}


aside {
    position: sticky;
    padding-left: 3rem;
    top: 30%;
    left: 0;

    @media screen and (max-width:768px) {
        display: none;
    }

    .sidebar {

        .sidebar-item {
            padding-top: 1rem;

            li {
                display: block;
                margin-bottom: 8px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 18px;
                font-weight: 300;
            }

        }
    }
}

#shop-text {
    .search {

        &__title {
            font-size: 22px;
            font-weight: 900;
            text-align: center;
            color: #ff8b88;
        }

        &__input {
            width: 100%;
            padding: 12px 24px;

            background-color: transparent;
            transition: transform 250ms ease-in-out;
            font-size: 14px;
            line-height: 18px;

            color: #575756;
            background-color: transparent;
            /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 18px 18px;
            background-position: 95% center;
            border-radius: 50px;
            border: 1px solid #575756;
            transition: all 250ms ease-in-out;
            backface-visibility: hidden;
            transform-style: preserve-3d;

            &::placeholder {
                color: color(#575756 a(0.8));
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            &:hover,
            &:focus {
                padding: 12px 0;
                outline: 0;
                border: 1px solid transparent;
                border-bottom: 1px solid #575756;
                border-radius: 0;
                background-position: 100% center;
            }
        }
    }

    .credits {
        &__container {
            margin-top: 24px;
        }

        &__text {
            text-align: center;
            font-size: 13px;
            line-height: 18px;
        }

        &__link {
            color: #ff8b88;
            text-decoration: none;
            transition: color 250ms ease-in;

            &:hover,
            &:focus {
                color: color(#ff8b88 blackness(+25%));
            }
        }
    }

    .shop-texts {
        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: 500;
            line-height: 1.1;
            font-size: 3.2rem;
        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 150px;
                padding: 13px 0;
                border-bottom: 1px solid #000000;
                cursor: pointer;
                margin: 0 2rem;

                h3 {
                    text-transform: uppercase;
                    letter-spacing: 0.85px;
                    font-size: 12px;
                }

                i {
                    font-size: 18px;
                }
            }
        }


    }

    @media screen and (max-width:768px) {
        display: none;
    }
}


/* --- fillter ------ */

#filter {
    display: none;

    .filter {
        padding: 48px 40px 30px;
        background: #fafafa;
        margin-top: 20px;
        overflow: auto;


        .filter-item {
            h2 {
                margin: 0 0 20px;
                font-size: 1.5rem;
                letter-spacing: 0.85px;
                font-weight: 500;
                line-height: 1.1;

            }
        }

        .form-checkbox-column {
            .label-container {
                text-transform: uppercase;
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                line-height: 18px;
                font-weight: 300;
                user-select: none;


                input {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;

                    &:checked~.checkmark {
                        background: #000;
                    }
                }

                .checkmark {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    background: #fff;
                    border: 1px solid black;


                    &::after {
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: 8px;
                        background: #fff;
                        width: 2px;
                        height: 2px;
                        transform: rotate(28deg);
                        box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
                    }
                }
            }
        }

        .filter-end {
            align-self: flex-end;

            .filter-button {
                @include flexbox(flex, flex-end, center);

                p {
                    margin: 0;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-decoration: underline;
                    cursor: pointer;
                    padding-right: 3rem;
                }

                button {
                    font-size: 14px;
                    background-color: #000;
                    color: $color-secondary;

                    &:hover {
                        background-color: $color-secondary;
                        color: #000;
                        border: 1px solid #000;
                    }
                }
            }
        }


    }
}


#favory {
    .favory-title {
        display: inline-block;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "brandon_grotesquemedium", Arial, sans-serif;
        letter-spacing: 1px;
        z-index: 1;
        font-weight: 500;
        line-height: 1.1;
        margin: 4rem 0;

        h2 {
            padding: 0 30px 0 16px;

        }


    }

    .col-md-4 {
        .favory-item {
            padding-top: 2rem;
            position: relative;


            .card-image {
                position: relative;

                &:hover .hover-btns {
                    opacity: 1;
                    visibility: visible;
                    transition: .5s;
                    transform: translateX(-50%);
                }

                img {
                    width: auto;
                    max-width: 100%;
                    transition: opacity 0.25s ease, filter 0.25s ease;
                }

                .img-product {
                    position: relative;

                    .img-responsive {
                        opacity: 1;

                        &:hover {
                            opacity: 0;
                        }
                    }

                    .img-responsive-hov {
                        transition: opacity 0.25s ease, filter 0.25s ease;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }


                .hover-btns {
                    position: absolute;
                    top: 50%;
                    left: 80%;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s linear;


                    .single-btn {
                        cursor: pointer;
                        font-size: 2rem;
                        width: 46px;
                        height: 46px;
                        line-height: 29px;
                        background-color: $color-secondary;
                        border-radius: 50%;
                        text-align: center;
                        display: block;
                        margin-bottom: 13px;
                        transition: .5s;
                        padding: 10px;

                        i {
                            &:hover {
                                color: $color-brown;
                            }
                        }

                    }

                }

            }
        }

        .fav-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;

            p {
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 1;
                color: $color-primary-hover;
            }
        }



        .brand-colors {
            @include flexbox(flex, center, center);

            @media screen and (max-width:768px) {
                .brand-item:nth-last-child(-n+2) {
                    display: none;
                }
            }
        }

        .fav-color {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;
            padding-bottom: 40px;

            .color-items {
                display: flex;
                flex-direction: row;
                align-items: center;

                .tab-color {
                    cursor: pointer;

                    img {
                        margin: 5px 5px 0 0;
                        display: inline-block;
                        padding: 3px;
                        cursor: pointer;
                        border-radius: 50px;
                        border-width: 1px;
                        border-style: solid;
                        line-height: 1;
                        border-width: 1px;
                        height: 22px;
                        width: 22px;
                        border-color: #c1c1c1;

                        &:active {
                            border: 2px solid $color-red !important;
                        }
                    }

                }

                .tab-color.active {
                    background-color: transparent;

                }

                .color-desc {
                    display: none;
                }

                .color-desc.active {
                    display: block;
                }
            }

        }

        .img-product {
            @include flexbox(flex, center, center);
            padding-bottom: 4rem;

            .content-colors {
                position: relative;

                .content-color {
                    display: none;
                    position: relative;
                    width: 100%;
                }

                .content-color.active {
                    display: block;
                }
            }
        }
    }

    .ltn__pagination-area {
        margin: 30px 0;

        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                a {
                    height: 40px;
                    width: 40px;
                    line-height: 36px;
                    border: 2px solid #ededed;
                    text-align: center;
                    display: block;
                    font-weight: 700;
                    border-radius: 100%;
                    margin-right: 13px;
                    font-size: 14px;

                    &:hover,
                    &:focus-visible {
                        border: 2px solid $color-brown;
                        background-color: $color-brown;
                        color: $color-secondary;
                    }
                }


            }
        }
    }

}

/* ----------------------------------------------------
    Price Filter Widget
---------------------------------------------------- */
.price_filter {
    padding-bottom: 13px;
}

.price_slider_amount {
    overflow: hidden;
}

.price_slider_amount>input[type="text"],
.price_slider_amount>input[type="submit"] {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    height: 25px;
    padding: 0;
    text-align: left;
    width: 140px;
    margin-bottom: 20px;
}

.price_slider_amount>input[type="text"] {
    font-weight: 700;
}

.price_filter .ui-widget-content {
    background-color: #000000;
    border: medium none;
    color: #222;
    height: 3px;
    width: 98%;
    background-image: none;
}

.ui-slider-range .ui-widget-header .ui-corner-all {
    background-color: $color-brown !important;
}

.ui-slider-handle .ui-state-default .ui-corner-all {
    background-color: $color-brown !important;

}

.price_filter .ui-slider .ui-slider-range {
    background-color: $color-brown !important;
    background-image: none;
}

.price_filter .ui-state-default,
.price_filter .ui-widget-content .ui-state-default,
.price_filter .ui-widget-header .ui-state-default {
    background-color: $color-brown !important;
    border: medium none;
    cursor: pointer;
    border-radius: 100%;
    height: 20px;
    margin-left: 0;
    margin-top: -10px;
    top: 50%;
    width: 20px;
    background-image: none;
}