#wish {

    aside {
        position: sticky;

        @media screen and (max-width:992px) {
            display: none;
        }

        .sidebar {
            padding-top: 3rem;

            .sidebar-item:not(:last-child) {}

            .sidebar-item {
                background-color: #fafafa;
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;

                li {
                    text-transform: uppercase;
                    border: none;
                    font-size: 1.3rem;
                    line-height: normal;
                    letter-spacing: 1.5px;
                    padding: 7.5px 10px;
                    padding-bottom: 1.2rem;
                    text-align: center;
                    background-color: #fafafa;
                    cursor: pointer;
                }

            }
        }


    }


    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        margin: 6rem 0;
        text-align: center;
    }

    .favory-item {
        padding-top: 2rem;
        position: relative;

        .card-image {
            position: relative;

            &:hover .hover-btns {
                opacity: 1;
                visibility: visible;
                transition: .5s;
                transform: translateX(-50%);
            }

            img {
                width: auto;
                max-width: 100%;
                transition: opacity 0.25s ease, filter 0.25s ease;
            }

            .img-product {
                position: relative;

                .img-responsive {
                    opacity: 1;


                }

                .img-responsive-hov {
                    transition: opacity 0.25s ease, filter 0.25s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }


            .hover-btns {
                position: absolute;
                top: 50%;
                left: 80%;
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: all .3s linear;


                .single-btn {
                    cursor: pointer;
                    font-size: 2rem;
                    width: 46px;
                    height: 46px;
                    line-height: 29px;
                    background-color: $color-secondary;
                    border-radius: 50%;
                    text-align: center;
                    display: block;
                    margin-bottom: 13px;
                    transition: .5s;
                    padding: 10px;

                    i {
                        &:hover {
                            color: $color-brown;
                        }
                    }

                }

            }



        }


    }

    .fav-info {
        padding-top: 1rem;
        font-size: 1rem;
    }

}