aside {
    position: sticky;
    float: left;
    height: 1000px;
    width: 20%;
    padding-top: 4rem;
    padding-left: 3rem;

    .sidebar {
        .sidebar-item:not(:last-child) {
            border-bottom: 1px solid #cacaca;

        }

        .sidebar-item {
            padding-top: 1rem;

            li {
                display: block;
                margin-bottom: 8px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 18px;
                font-weight: 300;
            }

        }
    }
}

#shop-text {
    .shop-texts {
        display: flex;
        justify-content: space-between;

        h1 {
            font-weight: 500;
            line-height: 1.1;
            font-size: 3.2rem;
        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 150px;
                padding: 8px 0;
                border-bottom: 1px solid #000000;
                cursor: pointer;
                font-size: 12px;
                margin: 0 2rem;

                h3 {
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.85px;
                    font-size: 12px;
                }
            }
        }
    }
}

#favory {
    .favory-title {
        display: inline-block;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-family: "brandon_grotesquemedium", Arial, sans-serif;
        letter-spacing: 1px;
        z-index: 1;
        font-weight: 500;
        line-height: 1.1;
        margin: 4rem 0;

        h2 {
            padding: 0 30px 0 16px;

        }

        &::before {
            content: '';
            position: absolute;
            left: 15px;
            border-top: 1px solid #eaeaea;
            width: calc(100% - 30px);
            z-index: -1;
        }
    }

    .favory-item {
        .card-image {
            position: relative;

            img {
                width: 100%;
                transition: opacity 0.25s ease, filter 0.25s ease;

            }

            .hover-contents {
                transition: opacity 0.25s ease, filter 0.25s ease;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;

                .hover-btns {
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    pointer-events: none;
                    font-size: 8px;
                    line-height: 10px;
                    padding: 10px 20px 8px;
                    text-transform: uppercase;
                    border-radius: 30px;
                    letter-spacing: 1px;
                    white-space: nowrap;

                    .single-btn {
                        font-size: 2rem;
                        width: 46px;
                        height: 46px;
                        line-height: 29px;
                        background-color: $color-secondary;
                        border-radius: 50%;
                        text-align: center;
                        display: block;
                        margin-bottom: 13px;
                        transition: .5s;
                        padding: 10px;
                    }

                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .fav-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        p {
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 1;
            color: $color-primary-hover;
        }
    }

    .fav-color {
        .color-item {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 7%;
                border-width: 1px;
                border-color: #c1c1c1;
                border-style: solid;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 5px 0 0;
                border-radius: 10px;
                cursor: pointer;

                &:active {
                    border: 2px solid $color-red !important;
                }
            }

            p {
                font-size: 12px;
                margin-top: 5px;
                line-height: 18px;
                color: $color-primary-hover;
            }
        }
    }
}